body{
    background-color:teal;
    color: white;

}
footer{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

.motivos{
  text-align: center;
    background-color: black;
    padding: 15px;
}
.universitarios{
    padding: 15 10px;
}
form, label, button, input{
    border-radius: 16px;
    background-color: tomato;

}
