<footer>
    <p>  &copy;Todos os direitos reservados</p>
    <div class="col-md-4"></div>
    <a href="" class="btn btn-outline-dark">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="" class="btn btn-outline-dark">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="btn btn-outline-dark">
        <i class="fab fa-instagram"></i>
    </a>
</div>
   </footer>