<nav class="navbar navbar-expand navbar-light bg-light" >
    <div class="container">
   <a class="navbar-brand" href="/" type="button">Frellas</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#principal">
<span class="navbar-toggler-icon"></span>
   </button>
      <div class="collapse navbar-collapse" id="principal">
     <ul class="navbar-nav">
       <li class="nav-item"> 
          <a class="nav-link" href="/formularios/login" > Login</a>
      </li> 
      <li class="nav-item"> 
       <a class="nav-link"  href="/formularios/cadastro">Cadastro </a>
   </li> 
   <li class="nav-item" > 
       <a class="nav-link" href="">Home </a>
   </li>
    <li class="nav-item"> 
       <a class="nav-link" href=""> Quem somos</a>
   </li>
    <li class="nav-item"> 
       <a class="nav-link" href=""> Ajuda</a>
   </li> 
      </ul>
      </div>
   </div>
</nav>