<section class="motivos">
    <h1>Motivos para ter um perfil de cliente e prestador de serviços na página</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus error sed laborum nemo velit fugiat recusandae id rerum odio ea aliquid, sint maiores, esse perferendis placeat excepturi animi optio eaque!</p>
    <ul>
        <li>Gratuito</li>
        <li>Seguro</li>
        <li>Sem vinculo empregaticio</li>
        <li>Pague somente o serviço </li>
        <li>Receba por trabalho</li>
    
    </ul>
    
    <img src="/img/people-2557399_1920.jpg" width="380px" class="img1">
    </section>
    
    <section class="universitarios">
        <h1> Como ter serviços de universitarios</h1>
        <div class="container2">
            <div class="row">
    
                <div class="col-sm-4">
      <img src="/img/geometry-1023846_640.jpg" width="200px" class="rounded float-left">
      <h2>Professor particular</h2>
      <span>70 R$</span>
                </div>
    
                <div class="col-sm-4">
                    <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
                    <h2>Cuidador de idoso</h2>
        <span>70 R$</span>
                     </div>
    
               <div class="col-sm-4">
    <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
        <h2>Administradora do lar</h2>
     <span>70 R$</span>
         </div>
    
                  <div class="col-sm-4">
                 <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
                  <h2>Faxina</h2>
                  <span>70 R$</span>
                 </div>
    
                <div class="col-sm-4">
      <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
      <h2>Garçom</h2>
      <span>70 R$</span>
                </div>
    
                <div class="col-sm-4">
      <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
      <h2>Cozinheiro</h2>
      <span>70 R$</span>
                </div>
    </div>
    </div>
    </section>
     <hr>
    <section>
     <h1>  Como oferecer serviços aos clientes </h1>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus error sed laborum nemo velit fugiat recusandae id rerum odio ea aliquid, sint maiores, esse perferendis placeat excepturi animi optio eaque!</p>
     
     <div class="container2">
         <div class="row">
    
             <div class="col-sm-4">
            <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
            <h2>Casa</h2>
            <p>*Valor sujeito a ajustes</p>
            <span>70 R$</span>
             </div>
    
             <div class="col-sm-4">
                <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
                <h2>Escola</h2>
                <p>*Valor sujeito a ajustes</p>
                <span>70 R$</span>
                         </div>
                         
             <div class="col-sm-4">
                <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
                <h2>Apartamento</h2>
                <p>*Valor sujeito a ajustes</p>
                <span>70 R$</span>
                         </div>
                         
             <div class="col-sm-4">
                <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
                <h2>Bar</h2>
                <p>*Valor sujeito a ajustes</p>
                <span>70 R$</span>
                         </div>
    
             <div class="col-sm-4">
          <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
              <h2>Restaurante</h2>
              <p>*Valor sujeito a ajustes</p>
                 <span>70 R$</span>
                     </div>
    
                                     
             <div class="col-sm-4">
                <img src="/img/men-1979261_640.jpg" width="200px" class="rounded float-left">
                <h2>Hospital</h2>
                <p>*Valor sujeito a ajustes</p>
                <span>70 R$</span>
                         </div>
    
             </div>
     </div>