<section class="motivos">
  <a href="">Faxineiro</a>
  <p> <strong>Atividades Profissionais:</strong>
     Limpar a casa, apartamento etc.</p>
     <a href="">Reforço escolar</a>
     <p> <strong>Atividades Profissionais:</strong>
        aulas em casa, apartamento etc.</p>
        <a href="">Cuidador de idoso</a>
        <p> <strong>Atividades Profissionais:</strong>
           ajuda em todas as atividades etc.</p>



</section>
    <section class="universitarios">
        <h1> Como ter serviços de universitarios</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor totam odio ab, esse repellendus amet laudantium necessitatibus ut minus voluptas? Accusamus dolorum quis suscipit vitae cum obcaecati minima eveniet earum.</p>
       
        <div class="container2">
            <div class="row">
    
                <div class="col-sm-4">
      <img src="/img/geometry-1023846_640.jpg" width="200px" class="rounded float-left">
      <h2>Professor particular</h2>
      <a href="">Ver vagas</a>
      <span>70 R$</span>
                </div>
    
                <div class="col-sm-4">
                    <img src="/img/idoso.jpeg" width="200px" class="rounded float-left">
                    <h2>Cuidador de idoso</h2>
                    <a href="">Ver vagas</a>
        <span>70 R$</span>
                     </div>
    
               <div class="col-sm-4">
    <img src="/img/cleaning-2414049_640.png" width="200px" class="rounded float-left">
        <h2>Administradora do lar</h2>
        <a href="">Ver vagas</a>
     <span>70 R$</span>
         </div>
    
                  <div class="col-sm-4">
                 <img src="/img/cleaning-2414049_640.png" width="200px" class="rounded float-left">
                  <h2>Faxina</h2>
                  <a href="">Ver vagas</a>
                  <span>70 R$</span>
                 </div>
    
                <div class="col-sm-4">
      <img src="/img/gracom.jpeg" width="200px" class="rounded float-left">
      <h2>Garçom</h2>
      <a href="">Ver vagas</a>
      <span>70 R$</span>
                </div>
    
                <div class="col-sm-4">
      <img src="/img/apple-pie-3723444_640.jpg" width="200px" class="rounded float-left">
      <h2>Cozinheiro</h2>
      <a href="">Ver vagas</a>
      <span>70 R$</span>
                </div>
    </div>
    </div>
    </section>
     <hr>
    <section>
     <h1>  Como oferecer serviços aos clientes </h1>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus error sed laborum nemo velit fugiat recusandae id rerum odio ea aliquid, sint maiores, esse perferendis placeat excepturi animi optio eaque!</p>
     
     <div class="container2">
         <div class="row">
    
             <div class="col-sm-4">
            <img src="/img/casa.jpeg" width="200px" class="rounded float-left">
            <h2>Casa</h2>
            <p>*Valor sujeito a ajustes</p>
            <a href="">Ver Profissionais</a>
            <span>70 R$</span>
             </div>
    
             <div class="col-sm-4">
                <img src="/img/escola.jpeg" width="200px" class="rounded float-left">
                <h2>Escola</h2>
                <p>*Valor sujeito a ajustes</p>
                <a href="">Ver Profissionais</a>
                <span>70 R$</span>
                         </div>
                         
             <div class="col-sm-4">
                <img  src="/img/apartamento.jpeg" width="200px" class="rounded float-left">
                <h2>Apartamento</h2>
                <p>*Valor sujeito a ajustes</p>
                <a href="">Ver Profissionais</a>
                <span>70 R$</span>
                         </div>
                         
             <div class="col-sm-4">
                <img src="/img/bar.jpeg" width="200px" class="rounded float-left">
                <h2>Bar</h2>
                <p>*Valor sujeito a ajustes</p>
                <a href="">Ver Profissionais</a>
                <span>70 R$</span>
                         </div>
    
             <div class="col-sm-4">
          <img src="/img/restaurante.jpeg" width="200px" class="rounded float-left">
              <h2>Restaurante</h2>
              <a href="">Ver Profissionais</a>
              <p>*Valor sujeito a ajustes</p>
                 <span>70 R$</span>
                     </div>
    
                                     
             <div class="col-sm-4">
                <img src="/img/hospital.jpeg" width="200px" class="rounded float-left">
                <h2>Hospital</h2>
                <a href="">Ver Profissionais</a>
                <p>*Valor sujeito a ajustes</p>
                <span>70 R$</span>
                         </div>
    
             </div>
     </div>