<!--<%- include ('/partions/head'); %>-->
<!--<%- include ('/partions/nav'); %>-->

<form>
    <label>Seu nome ou email:</label>
    <input placeholder="Ex: Caio_Gomes1">
</form>

<!--<%- include ('/partions/footer'); %> -->